:root {
    --text-color: #ffffff;
    --color-tone-2: #818384;
    --color-tone-3: #565758;
    --color-tone-4: #3a3a3c;
    --color-tone-5: #272729;
    --color-tone-6: #1a1a1b;
    --bg-color: #121213;
    --color-present: #b59f3b;
    --color-correct: #538d4e;
    --color-absent: var(--color-tone-4);
    --letter-key-w: 2.375rem;
    --letter-key-h: 3rem;
    --letter-key-m: 3px;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

html,
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-size: 2rem;
    margin: 1rem 0 0.4rem 0;
}

hr {
    width: 80%;
    margin: 0.4rem auto 2rem auto;
    border-color: var(--color-tone-5);
    color: var(--color-tone-5);
}

.tile {
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid #444;
    font-size: 2.3rem;
    font-weight: bold;
    margin: 0.15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.row {
    display: flex;
}

.letter-key {
    display: flex;
    width: var(--letter-key-w);
    height: var(--letter-key-h);
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin: var(--letter-key-m);
    border-radius: 6%;
    font-weight: bold;
    font-size: 0.8rem;
}

.functional-key {
    width: calc(var(--letter-key-w) * 1.5 + var(--letter-key-m));
}

.half-key {
    width: 1rem;
    background-color: transparent;
}

#centering-container {
    display: grid;
    grid-template-rows: auto auto;
}

#grid {
    margin: auto;
}

#keyboard {
    margin: auto;
}

[data-letter='notConfirmed'] {
    border-color: var(--color-tone-2);
}

[data-letter='absent'] {
    background-color: var(--color-absent);
    border-color: var(--color-absent);
}

[data-letter='present'] {
    background-color: var(--color-present);
    border-color: var(--color-present);
}

[data-letter='correct'] {
    background-color: var(--color-correct);
    border-color: var(--color-correct);
}
