:root{
    --text-color: #ffffff;
    --color-tone-2: #818384;
    --color-tone-3: #565758;
    --color-tone-4: #3a3a3c;
    --color-tone-5: #272729;
    --color-tone-6: #1a1a1b;
    --bg-color: #121213;
    --color-nav-hover: #2f2f31;
    --green: #6aaa64;
    --darkendGreen: #538d4e;
    --yellow: #c9b458;
    --darkendYellow: #b59f3b;
    --lightGray: #d8d8d8;
    --gray: #86888a;
    --darkGray: #939598;
    --black: #212121;
    --orange: #f5793a;
    --blue: #85c0f9;
    --color-present: var(--darkendYellow);
    --color-correct: var(--darkendGreen);
    --color-absent: var(--color-tone-4);
    --key-bg: var(--color-tone-2);
    --key-bg-present: var(--color-present);
    --key-bg-correct: var(--color-correct);
    --key-bg-absent: var(--color-absent);
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

html, body {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-size: 2rem;
    margin: 1rem 0 0.4rem 0;
}

hr {
    width: 80%;
    margin: 0.4rem auto 2rem auto;
    border-color: var(--color-tone-5);
    color: var(--color-tone-5);
}

.tile {
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid #444;
    font-size: 2.3rem;
    font-weight: bold;
    margin: 0.15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.tile[data-letter="notConfirmed"] {
    border-color: var(--color-tone-2);
}

.tile[data-letter="absent"] {
    background-color: var(--color-absent);
    border-color: var(--color-absent);
}

.tile[data-letter="present"] {
    background-color: var(--color-present);
    border-color: var(--color-present);
}

.tile[data-letter="correct"] {
    background-color: var(--color-correct);
    border-color: var(--color-correct);
}


.row {
    display: flex;
}

#grid {
    display: inline-block;
    margin: auto;
}
